
/* ========================================
sub page 공통
======================================== */


.page-heading {
    width: 100%;
    padding: 150px 0 66px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 80px;
}

.page-heading .inner {
    width: 1300px;
    max-width: calc(100% - 80px);
    margin: 0 auto;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    
}

.breadcrumb-home {
    display: block;
    width: 19px;
    height: 19px;
    background: #d10a00;
    clip-path: polygon(
        50% 0,
        100% 38%,
        100% 100%,
        0 100%,
        0 38%
    );
}

.page-title {
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    color: #000;
    font-family: "Russo One", sans-serif;
    line-height: 80px;
}

.breadcrumb li {
    position: relative;

    display: flex;
    align-items: center;
}

.breadcrumb li + li::before {
    content: "/";

    margin: 0 14px;
    color: #d7d7d7;
    font-weight: 300;
}

.breadcrumb a {
    color: inherit;
    text-decoration: none;
}

.breadcrumb .current {
    color: #555;
}

/* ========================================
Sub Visual
======================================== */

.sub-visual {
    position: relative;

    width: 100%;
    height: 600px;

    overflow: hidden;
}

.sub-visual-bg {
    position: absolute;
    inset: 0;
}

.sub-visual-bg img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.sub-visual-dim {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.45);
}

.sub-visual-content {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;
}

.sub-visual-content p {
    color: #fff;

    font-size: 58px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: -0.04em;
}

/* ========================================
Sub Product Category
======================================== */

.sub-product-category {
    padding: 120px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 1300px;
}

.sub-section-title {
    margin: 0;
    color: #000;
    font-family: "Russo One", sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.sub-section-title span {
    color: #d10a00;
}


/* Slider Controls */

.sub-slider-controls {
    display: flex;
    gap: 16px;
}

.sub-slider-button {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    transition: border-color .3s;
}

.sub-slider-button:hover {
    border-color: #d10a00;
}

.sub-slider-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 11px;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
}

.sub-slider-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.sub-slider-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.sub-slider-button.swiper-button-disabled {
    opacity: .35;
    pointer-events: none;
}


/* ========================================
Sub Category Slider
======================================== */

.sub-category-slider-wrap {
    width: 100%;
    overflow: hidden;
}

.sub-category-slider {
    width: 100%;
    overflow: visible;
}
.sub-category-slider .swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.sub-category-slider .swiper-slide {
    width: 480px !important;
    flex: 0 0 480px;
    height: auto;
}
/* Category Card */

.sub-category-card {
    position: relative;
    display: block;
    width: 100%;
    height: 510px;
    overflow: hidden;
    border-radius: 24px;
    background: #f7f7f7;
}

.sub-category-card-content {
    position: relative;
    z-index: 2;
    padding: 78px 58px;
}

.sub-category-card-content h3 {
    margin: 0 0 40px;
    color: #000;
    font-family: "Russo One", sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: -.03em;
}

.sub-category-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 52px;
    padding: 0 28px;
    border: 1px solid #d10a00;
    border-radius: 999px;
    color: #d10a00;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2em;
    text-transform: lowercase;
    transition:
        color .3s,
        background-color .3s;
}

.sub-category-card-image {
    position: absolute;
    inset: 0;
}

.sub-category-card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .5s ease;
}

.sub-category-card:hover .sub-category-more {
    color: #fff;
    background: #d10a00;
}

.sub-category-card:hover .sub-category-card-image img {
    transform: scale(1.04);
}

.sub-category-slider .swiper-wrapper {

    display: flex;

}

.sub-category-slider .swiper-slide {

    width: 480px !important;

    flex: 0 0 480px;

}

.sub-category-slider {

    overflow: hidden;

}


/* ========================================
Sub Pride Dealer
======================================== */

.sub-pride-dealer {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.sub-pride-dealer .inner{
    width: 1300px;
    margin: auto;
}

.sub-pride-dealer .sub-section-title {
    margin-bottom: 60px;
}


/* Main */

.sub-dealer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 460px;
    overflow: hidden;
    border-radius: 24px;
    background: #f4f5f9;
}

.sub-dealer-main-image {
    overflow: hidden;
}

.sub-dealer-main-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .25s ease;
}

.sub-dealer-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 58px;
}

.sub-dealer-area {
    align-self: flex-start;
    margin-bottom: 26px;
    padding: 10px 22px;
    border-radius: 999px;
    background: #d10a00;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.sub-dealer-name {
    margin: 0 0 34px;
    padding-bottom: 34px;
    border-bottom: 1px solid #d4d5da;
    color: #111;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -.04em;
}

.sub-dealer-info-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 0 0 54px;
}

.sub-dealer-info-list div {
    display: grid;
    grid-template-columns: 74px 1fr;
    gap: 0;
}

.sub-dealer-info-list dt,
.sub-dealer-info-list dd {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6;
}

.sub-dealer-info-list dt {
    color: #222;
    font-weight: 700;
}

.sub-dealer-info-list dd {
    color: #777;
    font-weight: 400;
}

.sub-dealer-map {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #111;
    color: #111;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.sub-dealer-map-icon {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background: url("/images/ic_map.png")center / cover no-repeat;
    
}


/* Slider */

.sub-dealer-slider-wrap {
    position: relative;
    margin-top: 50px;
}

.sub-dealer-slider {
    overflow: hidden;
}

.sub-dealer-slider .swiper-wrapper {
    align-items: stretch;
}

.sub-dealer-slider .swiper-slide {
    height: auto;
}

.sub-dealer-thumb {
    display: block;
    width: 100%;
    height: 305px;
    overflow: hidden;
    border: 0;
    border-radius: 20px;
    background: none;
    padding: 0;
}

.sub-dealer-thumb img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-dealer-thumb:hover,
.sub-dealer-thumb.is-active {
    opacity: 1;
}



/* Slider Button */

.sub-dealer-slider-button {
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 66px;
    height: 66px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    background: #fff;
    transform: translateY(-50%);
}

.sub-dealer-prev {
    left: -106px;
}

.sub-dealer-next {
    right: -106px;
}

.sub-dealer-slider-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 11px;
    border-top: 2px solid #aaa;
    border-right: 2px solid #aaa;
}

.sub-dealer-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.sub-dealer-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.sub-dealer-slider-button.swiper-button-disabled {
    opacity: .35;
    pointer-events: none;
}


/* ========================================
Sub Pride Interview
======================================== */

.sub-pride-interview {
    padding: 120px 0;
    overflow: hidden;
    background: #f5f6fa;
    display: flex;
    justify-content: center;
}
.sub-pride-interview .inner{
    width: 1300px;
}

.sub-pride-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.sub-pride-title {
    margin: 0;
    color: #222;
    font-family: "Russo One", sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.02em;
}

.sub-pride-title span {
    color: #d10a00;
}


/* Slider Controls */

.sub-pride-controls {
    display: flex;
    gap: 16px;
}

.sub-pride-button {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    background: transparent;
    transition:
        border-color .3s,
        opacity .3s;
}

.sub-pride-button:hover {
    border-color: #d10a00;
}

.sub-pride-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-top: 2px solid #aaa;
    border-right: 2px solid #aaa;
}

.sub-pride-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.sub-pride-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.sub-pride-button.swiper-button-disabled {
    opacity: .35;
    pointer-events: none;
}


/* Slider */

.sub-pride-slider {
    width: 100%;
    overflow: hidden;
}

.sub-pride-list {
    align-items: stretch;
}

.sub-pride-item {
    height: auto;
}

.sub-pride-card {
    display: block;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
    background: #fff;
}


/* Image */

.sub-pride-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.sub-pride-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .5s ease;
}


/* Content */

.sub-pride-content {
    height: 260px;
}

.sub-pride-content h3 {
    padding: 50px 50px 20px;
    color: #111;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: -0.01rem;
}

.sub-pride-content p {
    padding: 0 50px 50px;
    color: #666;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: -0.01rem;
}

.sub-pride-card:hover .sub-pride-image img {
    transform: scale(1.04);
}


/* ========================================
Sub Products Banner
======================================== */

.sub-products-banner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sub-products-banner-bg {
    position: absolute;
    inset: 0;
}

.sub-products-banner-bg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sub-products-banner-dim {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .48);
}

.sub-products-banner .inner {
    position: relative;
    z-index: 2;
    height: 100%;
}

.sub-products-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 1200px;
}

.sub-products-banner-content h2 {
    margin: 0 0 28px;
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: -.04em;
}

.sub-products-banner-content p {
    margin: 0 0 28px;
    color: rgba(255, 255, 255, .78);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.65;
    letter-spacing: -.03em;
}

.sub-products-banner-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    height: 52px;
    padding: 0 32px;
    border-radius: 999px;
    background: #e3170a;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition:
        background-color .3s,
        transform .3s;
}

.sub-products-banner-button:hover {
    background: #c91208;
    transform: translateY(-2px);
}

/* ========================================
Sub Products Banner - Solution
======================================== */

.sub-products-banner-solution .sub-products-banner-content {
    align-items: flex-end;
    text-align: right;
}

.sub-products-banner-solution .sub-products-banner-content h2 span {
    color: #d10a00;
}

.sub-products-banner-solution .sub-products-banner-button {
    margin-top: 8px;
}


/* ========================================
Sub Product Item
======================================== */

.sub-product-item {
    position: relative;
    overflow: hidden;
    background: url(/images/products/p_l_bg_l.png) center / cover no-repeat; ;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sub-product-item-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.sub-product-item-bg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sub-product-item .inner {
    position: relative;
    z-index: 2;
}

.sub-product-item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    min-height: 820px;
}

.sub-product-item-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    flex: 0 0 52%;
}

.sub-product-item-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sub-product-item-content {
    flex: 0 0 40%;
}

.sub-product-item-category {
    display: inline-block;
    margin-bottom: 24px;
    color: #d10a00;
    font-family: "Russo One", sans-serif;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 42px;
}

.sub-product-item-title {
    margin-bottom: 30px;
    color: #000;
    font-family: "Russo One", sans-serif;
    font-size: 5.6rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
}

.sub-product-item-title sup{
    font-size:.5em;
    vertical-align:top;

}


.sub-product-item-desc {
    max-width: 526px;
    margin-bottom: 80px;
    color: #222;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1rem;
}

.sub-product-item-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 72px;

    border-radius: 999px;

    background: #d10a00;

    color: #fff;

    font-size: 22px;
    font-weight: 600;
    letter-spacing: .15em;
    text-transform: lowercase;

    transition: .3s;
}

.sub-product-item-button:hover {
    background: #b90800;
}


.sub-product-item-reverse{
    background:url("/images/products/p_l_bg_r.png") center /cover no-repeat;
}

.sub-product-item-reverse .sub-product-item-wrap{
    flex-direction:row-reverse;
}

.sub-product-item-reverse .sub-product-item-content{
    text-align:left;
}


/* ========================================
Product-detail
======================================== */

/* ========================================
Section Title 공통
======================================== */
.detail-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 1300px;
}

.detail-section-title {
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-size: 6.0rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    color: #000;
}

.detail-section-title span {
    color: var(--red);
    font-family: "Russo One", sans-serif;
}

/* ========================================
Detail Visual
======================================== */


.detail-visual {
    position: relative;
    overflow: hidden;
    background: url("/images/products/p_d_v_bg.png") center / cover no-repeat;
    display: flex;
    justify-content: center;
}

.detail-visual .inner {
    position: relative;
    z-index: 2;
}

.detail-visual-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 1080px;
}

.detail-visual-content {
    flex: 0 0 560px;
}

.detail-visual-title {
    margin: 0 0 28px;
    font-family: "Russo One", sans-serif;
    font-size: 6.6rem;
    font-weight: 400;
    line-height: 7.6rem;
    letter-spacing: -.03em;
}

.detail-visual-title .red {
    display: block;
    color: var(--red);
    font-family: "Russo One", sans-serif;
}

.detail-visual-title .black {
    font-family: "Russo One", sans-serif;
    color: #111;
}

.detail-visual-title .green {
    color: #19c629;
}

.detail-visual-title sup {
    position: relative;
    top: -.55em;
    font-size: .42em;
}

.detail-visual-desc {
    max-width: 560px;
    margin: 0 0 60px;
    color: rgb(0 0 0 / 60%);
    font-size: 2.0rem;
    line-height: 3.6rem;
    letter-spacing: -.1rem;
}

.detail-product-slider {
    flex: 0 0 752px;
    height: 910px;
    overflow: hidden;
}

.detail-product-slider .swiper-wrapper,
.detail-product-slider .swiper-slide {
    height: 100%;
}

.detail-product-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.detail-product-image img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* ========================================
Detail Visual Controls
======================================== */

.detail-visual-controls {
    display: flex;
    gap: 14px;
    margin-top: 60px;
}

.detail-visual-button {
    position: relative;

    width: 58px;
    height: 58px;

    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;

    transition: .3s;
}

.detail-visual-button:hover {
    border-color: #d10a00;
}

.detail-visual-button::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 11px;
    height: 11px;

    border-top: 2px solid #999;
    border-right: 2px solid #999;

    transition: .3s;
}

.detail-visual-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.detail-visual-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.detail-visual-button:hover::before {
    border-color: #d10a00;
}

.detail-visual-button.swiper-button-disabled {
    opacity: .35;
    pointer-events: none;
}

.detail-visual-button.swiper-button-disabled:hover {
    border-color: #ddd;
}

.detail-visual-button.swiper-button-disabled::before {
    border-color: #999;
}

/* ========================================
Detail Main Features
======================================== */

.detail-features {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-features-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    width: 1300px;
}


/* Controls */

.detail-features-controls {
    display: flex;
    gap: 16px;
}

.detail-features-button {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    background: #fff;
    transition: border-color .3s;
}

.detail-features-button:hover {
    border-color: #d10a00;
}

.detail-features-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-top: 2px solid #aaa;
    border-right: 2px solid #aaa;
}

.detail-features-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.detail-features-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.detail-features-button.swiper-button-disabled {
    opacity: .35;
    pointer-events: none;
}


/* ========================================
Detail Main Features
======================================== */

.detail-features {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.detail-features-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.detail-features-title {
    margin: 0;
    color: #111;
    font-family: "Russo One", sans-serif;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1;
}

.detail-features-title span {
    color: #d10a00;
}


/* Controls */

.detail-features-controls {
    display: flex;
    gap: 16px;
}

.detail-features-button {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    transition: border-color .3s;
}

.detail-features-button:hover {
    border-color: #d10a00;
}

.detail-features-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
}

.detail-features-prev::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

.detail-features-next::before {
    transform: translate(-60%, -50%) rotate(45deg);
}

.detail-features-button.swiper-button-disabled {
    opacity: .35;
    pointer-events: none;
}


/* Slider */

.detail-features-slider-wrap {
    width: 100%;
    overflow: hidden;
}

.detail-features-slider {
    width: 100%;
    overflow: visible;
}

.detail-features-slider .swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.detail-features-slider .swiper-slide {
    width: 400px !important;
    flex: 0 0 400px;
    height: auto;
}


/* Card */

.detail-features-card {
    height: 520px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 22px;
    background: #fff;
}

.detail-features-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.detail-features-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-features-content {
    min-height: 320px;
}

.detail-features-content h3 {
    margin: 50px 40px 20px;
    color: #111;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: -.04em;
}

.detail-features-content p {
    margin: 0 40px;
    color: #777;
    font-size: 2.0rem;
    line-height: 3.0rem;
    letter-spacing: -.1rem;
}


/* ========================================
Detail Spec
======================================== */

.detail-spec {
    padding: 120px 0;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
}
.detail-spec .inner {
    width: 1300px;
}

.detail-spec-title {
    margin: 0 0 68px;
    color: #000;
    font-family: "Russo One", sans-serif;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.03em;
}

.detail-spec-title span {
    color: #d10a00;
}

.detail-spec-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-spec-content {
    flex: 0 0 620px;
}

.detail-spec-list {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
}

.detail-spec-row {
    display: grid;
    grid-template-columns: 190px 1fr;
    align-items: center;
    min-height: 72px;
    border-bottom: 1px solid #ccc;
}

.detail-spec-row dt,
.detail-spec-row dd {
    margin: 0;
}

.detail-spec-row dt {
    color: #222;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
}

.detail-spec-row dd {
    color: #222;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: -.04em;
}

.detail-spec-buttons {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.detail-spec-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    min-width: 260px;
    height: 58px;
    padding: 0 28px;
    border-radius: 999px;
    background: #d10a00;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .04em;
    transition:
        background-color .3s,
        transform .3s;
}

.detail-spec-button:hover {
    background: #b90800;
    transform: translateY(-2px);
}

.detail-spec-button-icon {
    position: relative;
    display: block;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
}


/* Document Icon */

.detail-spec-icon-note {
    background:url("/images/ic_note.png")center /cover no-repeat;;
}


/* Video Icon */

.detail-spec-icon-video {
    background:url("/images/ic_video.png")center /cover no-repeat;;
}


/* Product Image */

.detail-spec-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 520px;
    min-height: 600px;
}

.detail-spec-image img {
    display: block;
    max-width: 100%;
    max-height: 590px;
    width: auto;
    height: auto;
    object-fit: contain;
}


/* ========================================
Detail FAQ
======================================== */

.detail-faq {
    padding: 120px 0;
    background: #fff;
    display: flex;justify-content: center;
}
.detail-faq .inner {
    width: 1300px;
}
.detail-faq-title {
    margin: 0 0 68px;
    color: #000;
    font-family: "Russo One", sans-serif;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.03em;
}

.detail-faq-title span {
    color: #d10a00;
}

.detail-faq-list {
    border-top: 1px solid #ddd;
}

.detail-faq-item {
    border-bottom: 1px solid #ddd;
}

.detail-faq-question {
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    align-items: center;
    gap: 0;

    width: 100%;
    min-height: 116px;
    padding: 0;
    border: none;
    color: #111;
    text-align: left;
    background: transparent;
}

.detail-faq-number {
    color: #d10a00;
    font-family: "Russo One", sans-serif;
    font-size: 2.4rem;
    line-height: 1;
}

.detail-faq-question-text {
    padding: 0 20px 0 0;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -2%;
}

.detail-faq-icon {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    justify-self: end;
}

.detail-faq-icon::before,
.detail-faq-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #111;
    transform: translate(-50%, -50%);
    transition: transform .3s, opacity .3s;
}

.detail-faq-icon::before {
    width: 26px;
    height: 2px;
}

.detail-faq-icon::after {
    width: 2px;
    height: 26px;
}

.detail-faq-item.is-active .detail-faq-icon::after {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
}


/* Answer */

.detail-faq-answer {
    height: 0;
    overflow: hidden;
    transition: height .4s ease;
}

.detail-faq-answer-inner {
    padding: 30px 60px;
}

.detail-faq-answer p {
    margin: 0;
    color: #555;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: -2%;
}