@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://rsms.me/inter/inter.css');
*{
font-family: 'Noto Sans KR', sans-serif;
}
body { margin: 0;  }
#wrapper{width: 100vw;
    height: 100vh;}
header{position: absolute;
    width: 100%;
    z-index: 9999;
    top: 0;}
#site_header{    padding-top: 40px;}
#site_nav ul{    float: right;}

#site_nav ul li {
  position: relative;
  z-index: 1;
     font-family: 'Inter', sans-serif; 
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}





.main_text{ font-family: 'Inter', sans-serif; 
  font-size: 1em;
  font-weight: 700;
    letter-spacing: -0.01em;top: 40vh;position: absolute;}
.bar{    width: 100vw;
    height: 7px;
    background: #000;}

#top{height: 50vh;
    width: 100vw;}
