@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
font-family: 'Noto Sans KR', sans-serif;
}
body { margin: 0;  }
#wrapper{width: 100vw;
    height: 100vh;}

#site_nav ul li {
  position: relative;
  z-index: 1;
}

#site_nav ul li::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: hsla(341, 97%, 59%, 0.75);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

#site_nav ul li:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}




.main_text{font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
  font-weight: 700;
    letter-spacing: -0.01em;}
.bar{    width: 100vw;
    height: 7px;
    background: #000;}

#top{height: 50vh;
    width: 100vw;}
