
@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GowunBatang-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
a{    text-decoration: none;}
.txt{color: #D49A9C; line-height: 1.8;}        
.txt_s{font-size: 0.8em;}
.txt_m{font-size: 1em;}
.txt_l{font-size: 1.5em;}
.txt_vw{font-size: 4.8vw;}
html,body {
      position: relative;
-ms-touch-action:pan-y; touch-action:pan-y;
height: 100%;
    }

    body {
      background-color: #D49A9C;
      text-align: center;
      font-family: 'GowunBatang-Regular';
      color: #1f1f1f;
    }
    .invitation{max-width: 600px;
    background: #fff;
    margin: auto;}
    /*main*/
    .main{ 
      padding: 2em;
      display: flex;
      justify-content: space-evenly;
      height: calc(90vh - 2em);
height: -webkit-fill-available;
height: fill-available;
      flex-direction: column;
      align-items: center;
      }
      .married{    width: 50%;}
    .namebg{   width: 80%;}
    .namebg .main_name{}
    .thumb_visual{    width: 80%;
      position: relative;
      width: 80%;}
    .thumb_visual img{width: 100%;
      border-radius: 50em 50em 0 0;
      border: 4px solid #D49A9C;
     }

     .name_box{margin: 50px 0;}
     .name_list{font-size: 20px; margin-bottom: 15px;}
     .txt_relation{font-size: 16px;}
     .name_box .name_list em{font-size: 14px; opacity: 0.5;}

/*공통*/
.box_title{ margin-bottom: 40px;
  margin-top: 20px;}
.title_kr{    margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px; line-height: 1.8;}
.subtitle_en{  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  color: #d49a9c;
  font-size: 14px;}
/*달력*/
.calendar_box{padding: 40px 0;}
.weeks_container{ text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
margin-bottom: 40px;}
.weeks_box{}
.week{ display: flex;
  width: 100%;}
.week .header{}
.week .day{  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;}
.week .day span{}
.week .highlight{color:#d49a9c;}
.week .selected {}
.week .selected .span{}
.disabled{}
.day.selected::after {
  content: '';
  position: absolute;
  background: #d49a9c;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.week .selected span {
  color: #fff;
  z-index: 1;
}

.img{width: 90%;
  border-radius: 10px;}


    /*사진첩 스타일*/
  .photo_box{padding: 40px 0;}
    .swiper {
      width: 100%;
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .photo_txt{    font-size: 14px;
      margin: 15px 0 0;
      opacity: 0.5;}

    /*메인안내*/
    .invitation_box{  background: #fcf3f3; padding: 40px 0;}
    .invitation_txt{line-height: 1.8;}
    
    /*오시는길*/
    .location_box{    background: #fcf3f3; padding: 40px 0;}
    .location_box .location{}
    .list_location{}
    .list_location > li{border-top: 1px solid #ecdddd;
      margin: 20px;
      padding-top: 20px;}

    .location_title{text-align: left;
      font-size: 16px;
      padding-bottom: 15px;
      font-family: 'GowunBatang-Bold';}
    .location_txt{text-align: left;
      font-size: 14px;
      line-height: 1.8;
      font-family: "Noto Sans KR", sans-serif;}
      .info_address{width: 90%;
        margin: auto;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #ecdddd;
        border-bottom: 1px solid #ecdddd;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;}
      .map_navi{    text-align: left;
        display: flex;
        color: #000;
        font-size: 13px;
        width: 92%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: "Noto Sans KR", sans-serif;}
      .map_navi .navi{  margin: auto;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        width: 26%;
        background: #fff;
        box-shadow: 0px 3px 8px #00000014;}
      .map_navi .navi img{position: relative;
        top: -1px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 4px;
        border-radius: 16%;}
      .map_navi .navi span{}
      .sub1 {
        background: #EBA900;
        display: inline-block;
        vertical-align: top;
        min-width: 18px;
        height: 18px;
        margin: 1px 4px 0 0;
        padding: 0 5px;
        border-radius: 9px;
        box-sizing: border-box;
        font-size: 11px;
        font-weight: 600;
        color: #fff;
        line-height: 18px;
        text-align: center;
    }
    .sub2 {
    background: #6f99d0;
    display: inline-block;
    vertical-align: top;
    min-width: 18px;
    height: 18px;
    margin: 1px 4px 0 0;
    padding: 0 5px;
    border-radius: 9px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    line-height: 18px;
    text-align: center;
    }
    /*마음전하는곳*/
    .bank_box{    margin: 50px 0;}
    .group_bank{}
    .bank_info{}
    .bank_txt{}
    .bank_num{}
    .copyBtn{    background: transparent;
      border: none;}

    /* 아코디언 메뉴 */
    .accordion-list {border: 1px solid;
      border-radius: 5px;
      width: 90%;
      margin: auto;}
    .accordion-list .accordion-item {border-bottom: 1px solid #ddd;}
    .accordion-list .accordion-item .accordion-link {display: block; position: relative; padding: 25px 20px; border-bottom: 1px solid #ddd; transition: all 0.3s;}
    .accordion-list .accordion-item.active .accordion-link {background-color: #fff;}
    .accordion-list .accordion-name {position: relative; width: calc(100% - 50px); padding-left: 40px; font-size: 17px; font-weight: bold;}
    .accordion-list .accordion-item .accordion-desc {display: none; padding: 30px 40px; background-color: #f9f9f9; color: #777;}

/*슬라이드*/
.swiper_tab{    display: flex;
  background: #eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 90%;
  margin: auto;}
.swiper_tab .tab{    padding: 8px;
  margin: 0 0 -1px -1px;
  border: 1px solid transparent;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  width: 100%;}
.swiper_tab .tab.active{    position: relative;
  background: #fff;
  border-color: #eee;}
.real_swiper{overflow: hidden;}

/*info_box*/
.info_box{padding: 40px 0;}
